# Flutter (archivos generados y librerías nativas de iOS)
**/Flutter/ephemeral/
**/Pods/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/

# Xcode y macOS
**/dgph
**/xcuserdata/
*.xcworkspace
!.default.xcworkspace
*.xcodeproj
!.default.xcodeproj
.DS_Store